<section class="about__page">
    <h1 class="title">Rick and Morty GraphQL App</h1>
        <div class="about__container">
            <p>
                Angular 11 + Rick and Morty GraphQL API
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Laboriosam modi aliquid sint corrupti omnis temporibus placeat, 
                voluptas at explicabo ullam nam officiis laudantium ipsum rem? 
                Atque necessitatibus quae dolorem. Excepturi!
            </p>
            <figure class="about__img">
                <img src="/assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406" height="306">
            </figure>
        </div>
       <p class="abbout_copy">
           Developed by <span class="test-white">Isabel Elzondo</span> 
       </p> 
</section>
